@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-action="Index" asp-controller="FileUpload" enctype="multipart/form-data">
        <div class="form-group">
            <p>Upload one or many files...</p>
            <input name="files" type="file" class="form-control" multiple/>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="Upload" />
        </div>
    </form>
</div>
